.status-card{
    width: 200px;
    height: 75px;

    /* border: 1px solid red; */
    /* border-radius: 5px; */
    /* box-shadow:violet; */
    display: flex;

}
.status-card img{
    width: 75px;
    height: 73px;
}
.card-content{
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
}